In [0]:
import pandas as pd

In [3]:
dataset = pd.read_csv('temps.csv')

dataset.head()

   year  month  day  week  ...  forecast_noaa  forecast_acc  forecast_under  friend
0  2016      1    1   Fri  ...             43            50              44      29
1  2016      1    2   Sat  ...             41            50              44      61
2  2016      1    3   Sun  ...             43            46              47      56
3  2016      1    4   Mon  ...             44            48              46      53
4  2016      1    5  Tues  ...             46            46              46      41

[5 rows x 12 columns]

In [9]:
# Removing unnecessary columns from the dataset.
dataset_removed = dataset.drop(columns=['year','month','week'])

dataset_removed.describe()

              day      temp_2  ...  forecast_under      friend
count  348.000000  348.000000  ...      348.000000  348.000000
mean    15.514368   62.652299  ...       59.772989   60.034483
std      8.772982   12.165398  ...       10.705256   15.626179
min      1.000000   35.000000  ...       44.000000   28.000000
25%      8.000000   54.000000  ...       50.000000   47.750000
50%     15.000000   62.500000  ...       58.000000   60.000000
75%     23.000000   71.000000  ...       69.000000   71.000000
max     31.000000  117.000000  ...       79.000000   95.000000

[8 rows x 9 columns]

In [10]:
dataset_removed.isnull().any()

day               False
temp_2            False
temp_1            False
average           False
actual            False
forecast_noaa     False
forecast_acc      False
forecast_under    False
friend            False
dtype: bool

In [0]:
x_features = dataset_removed.drop(columns='actual')
y = dataset_removed['actual']

In [17]:
# Deal with x_features first.
x_features.head()

   day  temp_2  temp_1  ...  forecast_acc  forecast_under  friend
0    1      45      45  ...            50              44      29
1    2      44      45  ...            50              44      61
2    3      45      44  ...            46              47      56
3    4      44      41  ...            48              46      53
4    5      41      40  ...            46              46      41

[5 rows x 8 columns]

In [19]:
import matplotlib.pyplot as plt

x_features['day'].describe()

count    348.000000
mean      15.514368
std        8.772982
min        1.000000
25%        8.000000
50%       15.000000
75%       23.000000
max       31.000000
Name: day, dtype: float64

In [23]:
# Normalising the days
for x in enumerate(x_features['day']):
  x_features['day'][x[0]] = x[0]

x_features

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     day  temp_2  temp_1  ...  forecast_acc  forecast_under  friend
0      0      45      45  ...            50              44      29
1      1      44      45  ...            50              44      61
2      2      45      44  ...            46              47      56
3      3      44      41  ...            48              46      53
4      4      41      40  ...            46              46      41
..   ...     ...     ...  ...           ...             ...     ...
343  343      42      42  ...            50              47      47
344  344      42      47  ...            49              44      58
345  345      47      48  ...            50              45      65
346  346      48      48  ...            46              44      42
347  347      48      57  ...            48              47      57

[348 rows x 8 columns]

In [25]:
y.describe()

count    348.000000
mean      62.543103
std       11.794146
min       35.000000
25%       54.000000
50%       62.500000
75%       71.000000
max       92.000000
Name: actual, dtype: float64

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x_features, y, test_size=0.3, random_state=1)

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [0]:
rfr = RandomForestRegressor()

In [39]:
rfr.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [40]:
rfr.score(x_test, y_test)

0.7992460403741577

In [0]:
import numpy as np

In [0]:
features = np.array([[1,40,44,45,43,60,40,30]])
y_pred = rfr.predict(features)

In [46]:
y_pred

array([45.3])

In [47]:
rfr.feature_importances_

array([0.02718052, 0.01395679, 0.44959542, 0.30282546, 0.08356984,
       0.08025361, 0.01009128, 0.03252709])

A model of 80% average accuracy, with the most important feature being the average temp. predicted by the weather stations.