In [2]:
data = [1,2,3,4,5]

In [6]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__delslice__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__setslice__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
x = random.randint(10,100)

In [8]:
import random

In [10]:
print(x)

23

In [11]:
for y in range(100):
    x = random.randint(10,100)
    print(x)

12
73
76
61
25
48
70
66
58
79
11
25
60
21
97
31
40
83
13
92
45
35
11
81
45
17
46
62
44
36
94
16
34
11
82
92
44
51
69
19
40
83
15
20
83
76
71
46
100
94
59
24
22
46
63
86
48
43
28
65
67
40
53
37
26
41
88
78
10
60
38
21
26
99
46
16
55
63
18
54
10
32
72
93
10
94
58
41
86
50
28
40
15
72
73
40
98
20
34
93

In [16]:
import numpy as np
y = np.random.randint(10,100,100)
listt=y.tolist()

In [15]:
y.tolist().index(80)

35

In [24]:
freq=[]
for i in listt:
    freq.append(listt.count(i))
    
print max(freq)

3

In [28]:
freq

[2,
 3,
 1,
 3,
 1,
 3,
 2,
 2,
 3,
 1,
 1,
 3,
 2,
 2,
 3,
 1,
 2,
 3,
 2,
 2,
 3,
 1,
 2,
 1,
 3,
 3,
 3,
 3,
 2,
 2,
 3,
 1,
 3,
 3,
 1,
 1,
 1,
 1,
 2,
 2,
 3,
 3,
 3,
 1,
 2,
 1,
 3,
 3,
 2,
 1,
 3,
 2,
 1,
 1,
 3,
 3,
 1,
 1,
 3,
 3,
 1,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 2,
 2,
 3,
 3,
 2,
 1,
 3,
 2,
 3,
 2,
 3,
 2,
 1,
 3,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 3,
 2,
 2]

In [27]:
for g in freq:
    if freq.count(g)==3:
        print(g)

In [29]:
freq.index(max(freq))

1

In [30]:
listt[1]

38

In [31]:
print(listt)

[59, 38, 39, 24, 64, 94, 54, 35, 13, 66, 50, 93, 32, 57, 80, 18, 54, 89, 52, 87, 24, 49, 95, 70, 17, 13, 40, 55, 95, 57, 84, 92, 89, 13, 86, 41, 11, 56, 29, 87, 20, 93, 80, 69, 29, 26, 93, 40, 74, 65, 20, 16, 68, 72, 40, 99, 33, 10, 84, 99, 53, 94, 55, 80, 84, 38, 17, 16, 82, 88, 71, 42, 94, 14, 77, 61, 25, 24, 99, 60, 36, 38, 61, 17, 32, 89, 60, 90, 20, 97, 19, 74, 25, 76, 85, 96, 35, 55, 59, 52]

In [32]:
import scipy.stats as sp

In [37]:
listt.count(13)

3

In [34]:
sp.mode(listt)

ModeResult(mode=array([13]), count=array([3]))

In [40]:
a = np.random.randint(-10,10,50)
a

array([ -8,  -8,  -9,   5,  -8,  -7,  -6,  -6,  -1,   8,   9,   5,  -7,
         3,  -3,   4,   9,   6,  -6,   4,   3,   5,  -5,  -6,   1,   7,
        -9, -10,  -4,  -1,  -3,   1,   6,   0,   0,  -6, -10,  -3,  -1,
        -1,  -4,  -6,   4,  -7,  -8,  -7,  -6,   7,  -3,  -2])

In [42]:
b = np.random.randint(-20,200,100)
b

array([ 49,  93,  -9,  71, 131, 143,  29,  25, 139, 158, -11, 180, 120,
        24, 174,  14, 149, 105, 130, 177,  62, 173, 133,  98, 196, 114,
       122, 137, 132, 109, 160, 156, -15, 180, 147,  86,  19, 172,  15,
       -10, 104,  47, 133,  44, 132, 178, 132,  90, 134,  51, -19, 102,
       197, 177, -12,  68, 177,  99, -19,  79, -17,  93, 140,  10,  11,
        30, -12,  84, 174,  29,  23,  38,  48,  38,  64,  93, -16, -13,
       138,  40, 184,  82, 169,  20, 164, 106,   2, 185, 128,  97, 185,
        14, 109, 106, 151,  57, 108, -12,  52,  63])

In [43]:
print(max(a))
print(min(a))
np.mean(a)

9
-10

-1.68

In [ ]:
print(max(b))

In [51]:
np.percentile(a,100)

9.0

In [48]:
np.percentile(b,100)

197.0

In [49]:
max(b)

197

In [50]:
max(a)

9

In [52]:
listt.sort()

In [53]:
listt

[10,
 11,
 13,
 13,
 13,
 14,
 16,
 16,
 17,
 17,
 17,
 18,
 19,
 20,
 20,
 20,
 24,
 24,
 24,
 25,
 25,
 26,
 29,
 29,
 32,
 32,
 33,
 35,
 35,
 36,
 38,
 38,
 38,
 39,
 40,
 40,
 40,
 41,
 42,
 49,
 50,
 52,
 52,
 53,
 54,
 54,
 55,
 55,
 55,
 56,
 57,
 57,
 59,
 59,
 60,
 60,
 61,
 61,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 74,
 74,
 76,
 77,
 80,
 80,
 80,
 82,
 84,
 84,
 84,
 85,
 86,
 87,
 87,
 88,
 89,
 89,
 89,
 90,
 92,
 93,
 93,
 93,
 94,
 94,
 94,
 95,
 95,
 96,
 97,
 99,
 99,
 99]

In [100]:
fibo = [0,1]
fibo_2 = []
fibo_3 = []
for u in range(1,100):
    fibo.append(fibo[u]+fibo[u-1])
    if fibo[u]%2==0:
        fibo_2.append(fibo[u])
    else:
        fibo_3.append(fibo[u])

print(sum(fibo_2))
print(sum(fibo_3))

286573922006908542050
286573922006908542050

In [84]:
fibo.reverse()

In [85]:
print(fibo)

[13, 8, 5, 3, 2, 1, 1, 0]

In [87]:
fibo

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073L,
 4807526976L,
 7778742049L,
 12586269025L,
 20365011074L,
 32951280099L,
 53316291173L,
 86267571272L,
 139583862445L,
 225851433717L,
 365435296162L,
 591286729879L,
 956722026041L,
 1548008755920L,
 2504730781961L,
 4052739537881L,
 6557470319842L,
 10610209857723L,
 17167680177565L,
 27777890035288L,
 44945570212853L,
 72723460248141L,
 117669030460994L,
 190392490709135L,
 308061521170129L,
 498454011879264L,
 806515533049393L,
 1304969544928657L,
 2111485077978050L,
 3416454622906707L,
 5527939700884757L,
 8944394323791464L,
 14472334024676221L,
 23416728348467685L,
 37889062373143906L,
 61305790721611591L,
 99194853094755497L,
 160500643816367088L,
 259695496911122585L,
 420196140727489673L,
 679891637638612258L,
 1100087778366101931L,
 1779979416004714189L,
 2880067194370816120L,
 4660046610375530309L,
 7540113804746346429L,
 12200160415121876738L,
 19740274219868223167L,
 31940434634990099905L,
 51680708854858323072L,
 83621143489848422977L,
 135301852344706746049L,
 218922995834555169026L,
 354224848179261915075L]

In [88]:
fibo.index(1134903170)

45

In [89]:
fibo[45:63]

[1134903170,
 1836311903,
 2971215073L,
 4807526976L,
 7778742049L,
 12586269025L,
 20365011074L,
 32951280099L,
 53316291173L,
 86267571272L,
 139583862445L,
 225851433717L,
 365435296162L,
 591286729879L,
 956722026041L,
 1548008755920L,
 2504730781961L,
 4052739537881L]

In [94]:
haha = ['hihi']
fibo.extend(haha)

In [92]:
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073L, 4807526976L, 7778742049L, 12586269025L, 20365011074L, 32951280099L, 53316291173L, 86267571272L, 139583862445L, 225851433717L, 365435296162L, 591286729879L, 956722026041L, 1548008755920L, 2504730781961L, 4052739537881L, 6557470319842L, 10610209857723L, 17167680177565L, 27777890035288L, 44945570212853L, 72723460248141L, 117669030460994L, 190392490709135L, 308061521170129L, 498454011879264L, 806515533049393L, 1304969544928657L, 2111485077978050L, 3416454622906707L, 5527939700884757L, 8944394323791464L, 14472334024676221L, 23416728348467685L, 37889062373143906L, 61305790721611591L, 99194853094755497L, 160500643816367088L, 259695496911122585L, 420196140727489673L, 679891637638612258L, 1100087778366101931L, 1779979416004714189L, 2880067194370816120L, 4660046610375530309L, 7540113804746346429L, 12200160415121876738L, 19740274219868223167L, 31940434634990099905L, 51680708854858323072L, 83621143489848422977L, 135301852344706746049L, 218922995834555169026L, 354224848179261915075L, 'hihi']

In [97]:
fibo.remove('hihi')

In [98]:
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073L, 4807526976L, 7778742049L, 12586269025L, 20365011074L, 32951280099L, 53316291173L, 86267571272L, 139583862445L, 225851433717L, 365435296162L, 591286729879L, 956722026041L, 1548008755920L, 2504730781961L, 4052739537881L, 6557470319842L, 10610209857723L, 17167680177565L, 27777890035288L, 44945570212853L, 72723460248141L, 117669030460994L, 190392490709135L, 308061521170129L, 498454011879264L, 806515533049393L, 1304969544928657L, 2111485077978050L, 3416454622906707L, 5527939700884757L, 8944394323791464L, 14472334024676221L, 23416728348467685L, 37889062373143906L, 61305790721611591L, 99194853094755497L, 160500643816367088L, 259695496911122585L, 420196140727489673L, 679891637638612258L, 1100087778366101931L, 1779979416004714189L, 2880067194370816120L, 4660046610375530309L, 7540113804746346429L, 12200160415121876738L, 19740274219868223167L, 31940434634990099905L, 51680708854858323072L, 83621143489848422977L, 135301852344706746049L, 218922995834555169026L, 354224848179261915075L]