## Import modules

In [0]:
import pandas as pd
import numpy as np

## Dataset of mobile games from the app store

In [21]:
dataset = pd.read_csv('appstore_games.csv')
dataset.head()

                                                 URL  ...  Current Version Release Date
0   https://apps.apple.com/us/app/sudoku/id284921427  ...                    30/05/2017
1  https://apps.apple.com/us/app/reversi/id284926400  ...                    17/05/2018
2  https://apps.apple.com/us/app/morocco/id284946595  ...                     5/09/2017
3  https://apps.apple.com/us/app/sudoku-free/id28...  ...                    30/05/2017
4  https://apps.apple.com/us/app/senet-deluxe/id2...  ...                    22/07/2018

[5 rows x 18 columns]

In [65]:
print(dataset.columns)

# Columns I hate:
hate = ['Name', 'URL', 'ID', 'Subtitle', 'Icon URL', 'Description', 'Developer', 'Primary Genre', 'Current Version Release Date', 'In-app Purchases']

data = dataset.drop(hate, axis=1)
data.head()

Index(['URL', 'ID', 'Name', 'Subtitle', 'Icon URL', 'Average User Rating',
       'User Rating Count', 'Price', 'In-app Purchases', 'Description',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

   Average User Rating  ...  Original Release Date
0                  4.0  ...             11/07/2008
1                  3.5  ...             11/07/2008
2                  3.0  ...             11/07/2008
3                  3.5  ...             23/07/2008
4                  3.5  ...             18/07/2008

[5 rows x 8 columns]

In [66]:
data = data.iloc[:1000,:]
data.head()

   Average User Rating  ...  Original Release Date
0                  4.0  ...             11/07/2008
1                  3.5  ...             11/07/2008
2                  3.0  ...             11/07/2008
3                  3.5  ...             23/07/2008
4                  3.5  ...             18/07/2008

[5 rows x 8 columns]

## Lets get our x features and y organized. <br>
In this particular dataset, we are looking at average rating.

## Spring Cleaning

In [28]:
data.isnull().any()

Average User Rating       True
User Rating Count         True
Price                    False
In-app Purchases          True
Age Rating               False
Languages                 True
Size                     False
Genres                   False
Original Release Date    False
dtype: bool

### Average User Rating

In [41]:
data['Average User Rating'].describe()

count    1000.000000
mean        3.639418
std         0.709151
min         1.000000
25%         3.000000
50%         3.639418
75%         4.000000
max         5.000000
Name: Average User Rating, dtype: float64

In [40]:
avr = round(data['Average User Rating'].mean(),2)

data['Average User Rating'] = data['Average User Rating'].fillna(avr)

print('Filled NaN values with:',avr)
data['Average User Rating'].head()

Filled NaN values with: 3.64

0    4.0
1    3.5
2    3.0
3    3.5
4    3.5
Name: Average User Rating, dtype: float64

### User Rating Count

In [42]:
data['User Rating Count'].describe()

count       893.000000
mean       5703.073908
std       22271.216673
min           5.000000
25%          47.000000
50%         297.000000
75%        1782.000000
max      273687.000000
Name: User Rating Count, dtype: float64

In [44]:
# Fill NaN with mean
data['User Rating Count'] = data['User Rating Count'].fillna(5703)

print('Filled NaN values with:',5703)
data['User Rating Count'].head()

Filled NaN values with: 5703

0      3553.0
1       284.0
2      8376.0
3    190394.0
4        28.0
Name: User Rating Count, dtype: float64

## Price

In [50]:
print(data['Price'].describe())
data['Price'].head()

count    1000.000000
mean        0.908320
std         1.759502
min         0.000000
25%         0.000000
50%         0.000000
75%         0.990000
max        19.990000
Name: Price, dtype: float64

0    2.99
1    1.99
2    0.00
3    0.00
4    2.99
Name: Price, dtype: float64