# Chi-Squared goodness-of-fit test

<b>Question:</b> 256 visual artists were surveyed to find out their zodiac. Are zodiac signs of artists distributed normally? DataFrame is provided.

In [2]:
import pandas as pd

zodiac_signs_list = ['Aries','Taurus','Gemini','Cancer','Leo','Virgo','Libra','Scorpio','Sagittarius','Capricorn','Aquarius','Pisces']
observed_values_list = [29,24,22,19,21,18,19,20,23,18,20,23]
expected_values_list = [] #Question: Fill this up
chi_square_list = [] #Question: Fill this up
question_table=pd.DataFrame(zodiac_signs_list,columns=['Zodiac signs'])

   Zodiac signs  Observed values
0         Aries               29
1        Taurus               24
2        Gemini               22
3        Cancer               19
4           Leo               21
5         Virgo               18
6         Libra               19
7       Scorpio               20
8   Sagittarius               23
9     Capricorn               18
10     Aquarius               20
11       Pisces               23

In [36]:
import math
null_hypothesis = None
total_observed = sum(observed_values_list)
expected_value = 256/12
for i in range(12):
    expected_values_list.append(round(expected_value, 1))
    
for i in range(12):
    chi_square1 = observed_values_list[i]-expected_values_list[i]
    chi_square2 = (chi_square1*chi_square1)/expected_values_list[i]
    chi_square_list.append(chi_square2)
    if(chi_square_sum < critical_value):
    null_hypothesis = True 
else: chi_square_sum = sum(chi_square_list)
    null_hypothesis = False 
    
null_hypothesis 
chi_square_sum = sum(chi_square_list)
degree_of_freedom = len(chi_square_list) - 1
critical_value = 19.675
zodiac_signs_list = ['Aries','Taurus','Gemini','Cancer','Leo','Virgo','Libra','Scorpio','Sagittarius','Capricorn','Aquarius','Pisces']
if(chi_square_sum < critical_value):
    null_hypothesis = True 
else: 
    null_hypothesis = False 
    
null_hypothesis

False

In [56]:
question_table

   Zodiac signs  Observed values  Chi-Square values
0         Aries               29           2.783568
1        Taurus               24           0.342254
2        Gemini               22           0.023005
3        Cancer               19           0.248357
4           Leo               21           0.004225
5         Virgo               18           0.511268
6         Libra               19           0.248357
7       Scorpio               20           0.079343
8   Sagittarius               23           0.135681
9     Capricorn               18           0.511268
10     Aquarius               20           0.079343
11       Pisces               23           0.135681

<b>Question 1.</b> Create a Hypothesis test -->Create a boolean variable for Null Hypothesis and assign it to None for now.
<br>
Tip: Null Hypothesis variable can be True(accept) and False(reject)

In [68]:
day_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
observed_absentees = [121, 87, 87, 91, 114] 
expected_absentees = [] 
chi_square_list = [] 

question1_table = pd.DataFrame(day_list,columns=['Weekdays'])
question1_table['Observed values']=observed_absentees
null_hypothesis = None

<b>Question 2.</b> 
<br>
Find out Expected values and add them to the DataFrame table
<br>

In [69]:
total_observed_absentees = sum(observed_absentees)
expected_value = 500/5

<b>Question 3. </b>
<br>
Find Chi-Squared values for each unit in table.

In [96]:
for i in range(12):
    expected_values_list.append(round(expected_value, 1))

for i in range(12):
    chi_square1 = observed_values_list[i]-expected_values_list[i]
    chi_square2 = (chi_square1*chi_square1)/expected_values_list[i]
    chi_square_list.append(chi_square2)

<b>Question 4. </b>
<br>
Add all the chi-squared values to DataFrame. Calculate sum of Chi-Squared

In [71]:
chi_square_sum = sum(chi_square_list)

<b>Question 5. </b>
<br>
Calculate degrees of freedom and Find critical value from the table provided.

In [73]:
degree_of_freedom = len(chi_square_list) - 1
critical_value = 19.675

<b>Question 6. </b>
<br>
Accept or Reject Null Hypothesis

In [97]:
if(chi_square_sum < critical_value):
    null_hypothesis = True
else: 
    null_hypothesis = False
    
null_hypothesis

False

<b>Question: According to a particular genetic theory the number of colour strains(pink, white, blue) in a certain flower should appear in the ratio 3:2:5. In 100 randomly chosen plants, the corresonding numbers of each colour were 24, 14 and 62. Test at the 1% level whether the differences between the observed amd expected frequencies are significant

<b>Question 7.</b> 
<br>
Create a list of colors and Observed Frequncies and add them to the DataFrame(pandas)

In [ ]:
import pandas as pd

color_list = ['pink', 'white', 'blue'] 
observed_strains = [24,14,62] 
expected_strains = [] 
chi_square_list = []

question2_table = pd.DataFrame(color_list,columns=['Colour Strains'])
question2_table['Observed values']=observed_strains
null_hypothesis = None

<b>Question 8. </b>
<br>
Create Hypothesis test(Just like in Question 2)

In [78]:
total_observed_strains = 100
expected_values = 100/3

<b>Question 9. </b>
<br>
Find out Expected values and add them to a list and also add the list to the DataFrame table

In [87]:
for i in range(12):
    expected_values_list.append(round(expected_value, 1))

<b>Question 10. </b>
<br>
Find Chi-Squared values for each unit in table.

In [92]:
for i in range(12):
    chi_square1 = observed_values_list[i]-expected_values_list[i]
    chi_square2 = (chi_square1*chi_square1)/expected_values_list[i]
    chi_square_list.append(chi_square2)

<b>Question 11. </b>
<br>
Add all the chi-squared values to list and also add it to DataFrame. Calculate sum of Chi-Squared.

In [91]:
chi_square_suif(chi_square_sum < critical_value):
    null_hypothesis = True
else: 
    null_hypothesis = False
    
null_hypothesis m = sum(chi_square_list)

<b>Question 12. </b>
<br>
Calculate degrees of freedom and Find critical value(Use 0.001) from the table provided.

In [90]:
degree_of_freedom = len(chi_square_list) - 1
critical_value = 19.675

<b>Question 13. </b>
<br>
Accept or Reject Null Hypothesis

In [98]:
if(chi_square_sum < critical_value):
    null_hypothesis = True
else: 
    null_hypothesis = False
    
null_hypothesis

False